body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    position: relative;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image within the slide */
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.active {
    opacity: 1;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    width: 30rem;
    font-weight: bold;
    text-align: center;
    font-family: "Beau Rivage", serif;
    color: black;
    text-shadow: 
    0px 0px 20px rgba(255, 255, 255, 0.8),
    0px 0px 40px rgba(255, 255, 255, 0.6), 
    0px 0px 60px rgba(255, 255, 255, 0.4),
    9px 9px 5px rgba(0, 0, 0, 0.3); 
}
.save-the-date {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    text-align: center;
    font-family: "Dancing Script", serif;
    
}
.text-section {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: "Beau Rivage", serif;
    font-size: 2rem;
}
.dresscode-section {
    background-color: black;
    color:white;
    padding: 50px;
    display: flex;
    border-radius: 0 200px 0 200px;
    flex-direction: column;
    font-family: "Beau Rivage", serif;
    font-size: 2rem;
}
.timing-section {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.timing-section h2{
    font-family: "Beau Rivage", serif;
    font-size: 50px;
    align-self: center;
}
.timing-section p{
    font-family: "Beau Rivage", serif;
    font-size: 30px;
}
.image-section-small {
    background: url('static/unnamed-4.jpg');
    height: 50vh;
    margin: 50px 15px 50px 15px;
    background-size: cover;
    background-position: center top;/* Ensures the image covers the entire area */
    background-repeat: no-repeat;
    border-radius: 80px;
}
.location-section {
    background: url('static/450084568_1195180185234916_756033831966295947_n.jpg') no-repeat center center/cover;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Spectral SC", serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    border-radius: 200px 0 200px 0;
    text-shadow: 
        0px 0px 10px rgba(0, 0, 0, 0.9),  /* Strong black glow */
        2px 2px 10px rgba(0, 0, 0, 0.7),  /* Deeper shadow */
        -2px -2px 10px rgba(0, 0, 0, 0.6), /* Outer contrast */
        4px 4px 15px rgba(0, 0, 0, 0.5); /* Softened depth */
    backdrop-filter: brightness(80%) contrast(120%);
}
.location-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(185, 185, 185, 0.6);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 12px;
    margin-top: 20px;
    
}
@media screen and (max-width: 600px) {
    .slideshow-container {
        height: 80vh; /* Reduce the height of the slideshow */
    }

    .slide {
        height: 80vh; /* Adjust the height to fit within a smaller screen */
    }

    .image-text {
        font-size: 4rem; /* Decrease the font size for smaller screens */
    }

    .save-the-date {
        font-size: 1.3rem;/* Adjust font size for small screens */
    }
    .text-section {
    font-size: 1.7rem;
    height: 50vh;
}
.text-section h2 {
        font-size: 3.2rem;
    }
    .location-section {
        height: 50vh;
        font-size: 1.2rem;
    }
    .timing-section {
        height: 60vh;
    }
    .timing-section p {
        font-size: 1.5rem;
    }
    .dresscode-section {
        height: 50vh;
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 455px) {
    .slideshow-container {
        height: 60vh; /* Reduce the height of the slideshow */
    }

    .slide {
        height: 60vh; /* Adjust the height to fit within a smaller screen */
    }

    .image-text {
        font-size: 3rem; /* Decrease the font size for smaller screens */
    }

    .save-the-date {
        font-size: 1.2rem;/* Adjust font size for small screens */
    }
    .text-section {
    font-size: 1.5rem;
    height: 40vh;
}
    .location-section {
        height: 40vh;
        font-size: 1.1rem;
    }
    .timing-section {
        height: 50vh;
    }
    .timing-section p {
        font-size: 1.3rem;
    }
    .timing-section h2 {
        font-size: 3.5rem;
    }
    .dresscode-section {
        height: 40vh;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 421px) {
    .slideshow-container {
        height: 50vh; /* Reduce the height of the slideshow */
    }

    .slide {
        height: 50vh; /* Adjust the height to fit within a smaller screen */
    }

    .image-text {
        font-size: 2.5rem; /* Decrease the font size for smaller screens */
    }

    .save-the-date {
        font-size: 1.1rem;/* Adjust font size for small screens */
    }
    .text-section {
    font-size: 1.2rem;
    height: 30vh;
}
    .location-section {
        height: 30vh;
        font-size: 1rem;
        border-radius: 150px 0 150px 0;
    }
    .timing-section {
        height: 40vh;
    }
    .timing-section p {
        font-size: 1rem;
    }
    .timing-section h2 {
        font-size: 3rem;
    }
    .image-section-small {
        height: 40vh;
    }
    .dresscode-section {
        height: 30vh;
        font-size: 1.3rem;
        border-radius: 0 150px 0 150px;
    }
}
@media screen and (max-width: 385px) {
    .slideshow-container {
        height: 40vh; /* Reduce the height of the slideshow */
    }

    .slide {
        height: 40vh; /* Adjust the height to fit within a smaller screen */
    }

    .image-text {
        font-size: 2.3rem; /* Decrease the font size for smaller screens */
    }

    .save-the-date {
        font-size: 1rem;/* Adjust font size for small screens */
    }
    .text-section {
    font-size: 1.1rem;
    height: 30vh;
}
    .location-section {
        height: 25vh;
        font-size: 0.9rem;
        border-radius: 120px 0 120px 0;
    }
    .timing-section {
        height: 35vh;
    }
    .timing-section p {
        font-size: 0.9rem;
    }
    .timing-section h2 {
        font-size: 2.5rem;
    }

    .dresscode-section {
        height: 30vh;
        font-size: 1.2rem;
        border-radius: 0 150px 0 150px;
    }
}
@media screen and (max-width: 340px) {
    .slideshow-container {
        height: 35vh; /* Reduce the height of the slideshow */
    }

    .slide {
        height: 35vh; /* Adjust the height to fit within a smaller screen */
    }

    .image-text {
        font-size: 2rem; /* Decrease the font size for smaller screens */
    }

    .save-the-date {
        font-size: 1rem;/* Adjust font size for small screens */
    }
    .text-section {
    font-size: 1rem;
    height: 24vh;
}
.image-section-small {
    height: 30vh;
}
    .location-section {
        height: 20vh;
        font-size: 0.8rem;
        border-radius: 100px 0 100px 0;
    }
    .timing-section {
        height: 30vh;
    }
    .timing-section p {
        font-size: 0.7rem;
    }
    .timing-section h2 {
        font-size: 2.5rem;
    }

    .dresscode-section {
        height: 20vh;
        font-size: 1rem;
        border-radius: 0 100px 0 100px;
    }
}
@media screen and (max-width: 421px) {
    .text-section {
        height: 14vh;
        font-size: 0.75rem;
    }
    .text-section h2 {
        font-size: 2rem;
    }
}
